extensions:
	console: Kdyby\Console\DI\ConsoleExtension

console:
	commands:
		- Phinx\Console\Command\Init
		- Phinx\Console\Command\Create
		- Phinx\Console\Command\Migrate
		- Phinx\Console\Command\Rollback
		- Phinx\Console\Command\Status
		- Phinx\Console\Command\Test
		- JR\Phinx\Console\MigrateCommand
	url: 'http://www.htmldriven.com'

services:
	- Kdyby\Console\Application