services:
	-
		class: Phinx\Console\Command\Init
		autowired: FALSE
		tags: ['kdyby.console.command']
	-
		class: Phinx\Console\Command\Create
		autowired: FALSE
		tags: ['kdyby.console.command']
	-
		class: Phinx\Console\Command\Migrate
		autowired: FALSE
		tags: ['kdyby.console.command']
	-
		class: Phinx\Console\Command\Rollback
		autowired: FALSE
		tags: ['kdyby.console.command']
	-
		class: Phinx\Console\Command\Status
		autowired: FALSE
		tags: ['kdyby.console.command']
	-
		class: Phinx\Console\Command\Test
		autowired: FALSE
		tags: ['kdyby.console.command']
	-
		class: JR\Phinx\Console\MigrateCommand
		autowired: FALSE
		tags: ['kdyby.console.command']